body {
    background-color: rgba(245, 245, 245, 0.966);
    color: #57332f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.titulo-pagina{
    background-color: #F2D4D0;
    text-align: center;
    padding: 20px 0; 
}

.titulo-sorveteria {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    color: #70443F;
    margin: 0; 
}

.menu {
    background-color: #F2D4D0;
    margin: 0;
    padding: 0; 
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #BD726A;
}

.menu a:hover {
    color: #70443F;
}

.separador {
    width: 100%;
    height: 2px;
    background-color: #706260;
    margin: 0;
}

.rodape {
    background-color: #F2D4D0;
    text-align: center;
    padding: 20px 0;
}

.rodape p {
    margin: 0;
    color: #706260;
    font-size: 14px;
}

.cardapio {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: white;
    padding: 20px;
    border: 1px solid #57332f;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-height: 250px; 
}

.item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.item p {
    margin-bottom: 10px;
}

.item span {
    font-size: 16px;
    font-weight: bold;
}

.sub-titulo{
    text-align: center;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}