body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
}

.titulo{
    padding-top: 100px;
    padding-left: 250px;
    padding-bottom: 25px;
    background-color:#343a40;
    color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.formu{
    margin-top: 40px;
    margin-left: 420px;
    margin-right: 420px; 
    border-radius: 5px;
    padding: 5px 20px 15px 20px;
    background-color: #f8f9fa ;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.grupo{
    padding: 10px 5px 10px 5px;
    margin-left: 15px;
}

.grupo1{
    display: inline-block;
    margin-left: 20px;
    margin-right: 130px;
}

.grupo2{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grupo3{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 37px;
}

label {
    display: block;
}

span.required-field{
    color: red;
    margin-left: 2px;
}

input{
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: #f8f9fa;
    outline: none;
}

#solicitacao{
    margin-top: 10px;
}

#entrada{
    margin-top: 10px;
    width: 520px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#data{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#number{
    width: 110px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#selecao{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: #f8f9fa;
    outline: none;
}

#termos{
    margin-top: 15px;
}

.botao{
    margin-top: 10px;
    margin-left: 870px;
    margin-bottom: 80px;
}

#botaoo{
    padding: 15px 20px 15px 20px;
    margin-right: 20px;
    background-color: #343a40;
    color: #e9ecef;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s; 
}

#botaoo:hover{
    background-color: #f8f9fa;
    color: #343a40;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
}


.bottom{
    padding-left: 1000px;
    padding-bottom: 100px;
    background-color: #343a40;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}